<!DOCTYPE html>
  <html lang="fr"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
        layout:decorate="~{layouts/main}">
    <head>
      <meta charset="UTF-8">
      <title>Panier</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    </head>
    <body>
      <div class="container">
        <div layout:fragment="content" class="content">
          <h2>Panier</h2>
          <div  class="mt-5">
            <h2><i class="bi bi-cart-fill"></i> Mon panier</h2>
            <div th:if="${not #lists.isEmpty(panier.lignesDeCommande)}">
              <form th:action="@{/viderPanier}" method="post">
                <button type="submit" class="btn btn-primary">Vider Panier</button>
              </form>
              <form id="cart-form" th:action="@{/panier/add}" method="post">
                <table class="table">
                  <h4 th:text="${panier.id}" class="title text-center mb-4">Ajout nouveau produit</h4>
                  <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                  </tr>
                  </thead>
                  <tbody id="cart-items">
                  <tr th:each="ligne : ${panier.lignesDeCommande}">
                    <td th:text="${ligne.produit.nom}">Nom du produit</td>
                    <td th:text="${ligne.produit.prix}">Prix</td>
                    <td th:text="${ligne.quantite}">Quantité</td>
                    <td th:text="${ligne.produit.prix * ligne.quantite}">Total</td>
                  </tr>
                  </tbody>
                </table>
                <button type="submit" class="btn btn-primary"><i class="bi bi-cart4"></i> Confirmer Panier</button>
              </form>
            </div>
            <div th:unless="${not #lists.isEmpty(panier.lignesDeCommande)}">
              <p>Votre panier est vide.77</p>
              <h4 th:text="${errorMessage}" class="title text-center mb-4"></h4>
              <h4 th:text="${panier.id}" class="title text-center mb-4">Ajout nouveau produit</h4>
            </div>
          </div>
        </div>
      </div>
    </body>
</html>
