<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
    <head>
        <meta charset="UTF-8">
        <title>Vue d'un panier</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div layout:fragment="content" class="content">
                <h1>Panier</h1>
                <!-- Insérez ici le code pour afficher les détails du panier -->
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Date de création</th>
                        <th>Date de modification</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${panier.id}"></td>
                        <td th:text="${panier.dateCreation}"></td>
                        <td th:text="${panier.dateModification}"></td>
                    </tr>
                    </tbody>
                </table>

                <!-- Liste des lignes de commande dans le panier -->
                <h2>Lignes de commande</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Produit</th>
                        <th>Prix unitaire</th>
                        <th>Quantité</th>
                        <th>Montant total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Thymeleaf pour boucler à travers les lignes de commande -->
                    <tr th:each="ligneDeCommande : ${panier.lignesDeCommande}">
                        <td th:text="${ligneDeCommande.id}"></td>
                        <td th:text="${ligneDeCommande.produit.nom}"></td>
                        <td th:text="${ligneDeCommande.prixUnitaire}"></td>
                        <td th:text="${ligneDeCommande.quantite}"></td>
                        <td th:text="${ligneDeCommande.montantTotal}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
