<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Footer fragment</title>
</head>
<body>
    <footer th:fragment="footer" style="
                    display: flex;
                    justify-content: center; /* Centre horizontalement */
                    align-items: center; /* Centre verticalement */
                    text-align: center;margin-left:auto;margin-right:auto;
                    bottom: 0;width: 100%;margin-top:5px;margin-bottom:5px;border-radius: 5px;
                    padding: 10px; /* Réduisez la valeur de padding pour réduire la hauteur du footer */
                    background-color: #f5f5f5;">
        <div>
            <p>&copy; 2023 – ICC BXl EI – Projet E-commerce épicerie</p>
        </div>
    </footer>
</body>
</html>
