<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Footer fragment</title>
</head>
<body>
    <footer th:fragment="footer"  style="text-align:center;
                                        height:10%;
                                        width:100%;
                                        padding-top: 10px;
                                        position:fixed;
                                        bottom:0px;">
        &copy; 2023 –ICC BXl EI – Projet E-commerce épicerie
    </footer>
</body>
</html>
