<menuUser th:fragment="menuUser">

    <div class="sidenav" >
        <a href="javascript:location.reload()" class="btn-refresh">
            <span class="refresh-text marginL">Replier les sous-menus</span> <i class="fas fa-sync-alt" style="color: rgb(255, 193, 7);"></i>
        </a>
        <a class="collapsed" data-bs-toggle="collapse" href="#profileSubmenu" role="button" aria-expanded="false" aria-controls="profileSubmenu">
            <i class="fas fa-user-circle"></i> Profile : <span th:text="${user.nom} + ' ' + ${user.prenom}"></span>
            <span class="submenu-icon fas fa-caret-right"></span>
        </a>
        <div class="collapse marginR" id="profileSubmenu">
            <a th:href="@{'/user/' + ${user.id} + '/profile'}" style="font-size: 16px;"> <i class="fas fa-user-circle">Voir profil</a>
            <a th:href="@{'/user/' + ${user.id} + '/profile/edit'}" style="font-size: 16px;"><i class="fas fa-user-edit"></i> Modifier profil</a>
            <a th:href="@{'/user/' + ${user.id} + '/adresse/edit'}" style="font-size: 16px;"><i class="fas fa-address-card"></i> Modifier adresse</a>
        </div>

        <a th:href="@{/commandes}"><i class="fas fa-shopping-cart"></i> Mes commandes</a>
        <a th:href="@{/user/favoris}"><i class="fas fa-heart"></i> Mes produits favoris</a>

        <a class="collapsed" data-bs-toggle="collapse" href="#employeeSubmenu" role="button" aria-expanded="false" aria-controls="employeeSubmenu">
            <i class="fas fa-briefcase"></i> Employé <span class="submenu-icon fas fa-caret-right"></span>
        </a>
        <div class="collapse marginR" id="employeeSubmenu">
            <a href="#" style="font-size: 16px;"><i class="fas fa-list"></i> Liste des commandes</a>
            <a href="#" style="font-size: 16px;"><i class="fas fa-chart-bar"></i> Commandes à traiter</a>
            <a class="collapsed" style="font-size: 16px;" data-bs-toggle="collapse" href="#statSubmenu" role="button" aria-expanded="false" aria-controls="statSubmenu">
                <i class="fas fa-chart-line"></i> Statistiques <span class="submenu-icon fas fa-caret-right"></span>
            </a>
            <div class="collapse marginR" id="statSubmenu">
                <a href="#" style="font-size: 14px;"><i class="fas fa-chart-bar"></i> Ventes</a>
                <a href="#" style="font-size: 14px;"><i class="fas fa-chart-pie"></i> Répartition des produits</a>
            </div>
        </div>

        <a class="collapsed" data-bs-toggle="collapse" href="#adminSubmenu" role="button" aria-expanded="false" aria-controls="adminSubmenu">
            <i class="fas fa-cog"></i> Admin <span class="submenu-icon fas fa-caret-right"></span>
        </a>
        <div class="collapse marginR" id="adminSubmenu">
            <a class="collapsed" style="font-size: 16px;" data-bs-toggle="collapse" href="#stockSubmenu" role="button" aria-expanded="false" aria-controls="stockSubmenu">
                <i class="fas fa-box"></i> Gestion stock <span class="submenu-icon fas fa-caret-right"></span>
            </a>
            <div class="collapse marginR" id="stockSubmenu">
                <a th:href="@{/produits/admin}" style="font-size: 14px;"><i class="fas fa-list"></i> Liste des produits</a>
                <a th:href="@{/produit/create}" style="font-size: 14px;"><i class="fas fa-plus-square"></i> Ajouter un produit</a>
            </div>
            <a class="collapsed" style="font-size: 16px;" data-bs-toggle="collapse" href="#userManagementSubmenu" role="button" aria-expanded="false" aria-controls="userManagementSubmenu">
                <i class="fas fa-users"></i> Gestion utilisateurs <span class="submenu-icon fas fa-caret-right"></span>
            </a>
            <div class="collapse marginR" id="userManagementSubmenu">
                <a href="#" style="font-size: 14px;"><i class="fas fa-list"></i> Liste des utilisateurs</a>
                <a href="#" style="font-size: 14px;"><i class="fas fa-user-plus"></i> Ajouter un utilisateur</a>
            </div>
        </div>
    </div>
</menuUser>

