<!DOCTYPE html>
<html lang="fr"
      xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Ajout d'un produit</title>
    <style>
        .fieldError{color: red;}
        .centered-content {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            min-height: 90%;
            margin-top: 5%;
            margin-bottom: 10px;
        }
        .content {
            width: 100%;
            max-height: 90vh;
            overflow-y: auto;
        }
        .title{
            font-family: Roboto;
        }
    </style>
</head>
<body>
<div class="container" >
    <div layout:fragment="content" class="content" >
        <div  class="container centered-content">
            <h1 th:text="${title}" class="title">Nouveau produit</h1>
            <div style="display:flex;">
                <div style="width: 40%;display:block;margin-right: 250px;">
                    <div class="border border-success rounded" style=" margin-left: auto;margin-right: auto;padding: 10px;margin-bottom: 10px;">
                        <form th:action="@{/cat/newCat}" method="post">
                            <div class="form-group" style="text-align: left;">
                                <label for="newNom">Nom</label>
                                <input type="text" class="form-control" minlength="2" name="nom" placeholder="Nouvelle catégorie" id="newNom" required/>
                                <input type="text" class="form-control" value="/produit/create" hidden name="env" />
                            </div>

                            <p th:if="${messageCat != null and !messageCat.isEmpty()}" style="color: red;">
                                <i class="fa-solid fa-triangle-exclamation" style="color: #ea4848;"></i>
                                [[${messageCat}]]
                            </p>
                            <input type="submit" class="btn btn-outline-success" value="Ajouter nouvelle catégorie à la liste"/>
                        </form>
                    </div>

                    <div class="border border-success rounded" style=" margin-left: auto;margin-right: auto;padding: 10px;margin-bottom: 10px;">
                        <form  th:action="@{/marque/create}"  method="post" >
                            <div class="form-group" style="text-align: left;">
                                <label for="newMarque" >Nom</label>
                                <input type="text" class="form-control" minlength="2" name="nom" placeholder="Nouvelle marque " id="newMarque" required/>
                                <input type="text" class="form-control" value="/produit/create" hidden name="env"  />
                            </div>
                            <p th:style="${messageMarque == ''} ? 'display: none;': 'color: red;'">[[${messageMarque}]]</p>
                            <input type="submit" class="btn btn-outline-success" value="Ajouter nouvelle marque à la liste"   />
                        </form>
                    </div>

                    <div class="border border-success rounded" style=" margin-left: auto;margin-right: auto;padding: 10px;margin-bottom: 10px;">
                        <form  th:action="@{/motCle/create}" method="post" >
                            <div class="form-group" style="text-align: left;">
                                <label for="newMotCle" >Nom</label>
                                <input type="text" class="form-control" minlength="2" name="nom" placeholder="Nouveau mot clé " id="newMotCle" required/>
                                <input type="text" class="form-control" value="/produit/create" hidden name="env"  />
                                <br>
                            </div>
                            <p th:if="${messageMotCle != null and !messageMotCle.isEmpty()}" style="color: red;">
                                <i class="fa-solid fa-triangle-exclamation" style="color: #ea4848;"></i>
                                [[${messageMotCle}]]
                            </p>
                            <input type="submit" class="btn btn-outline-success" value="Ajouter nouveau mot clé à la liste"   />
                        </form>
                    </div>
                </div>

                <div class="border border-success rounded" style="padding: 10px;">
                    <form th:action="@{/product/save}" th:object="${produit}" method="post" enctype="multipart/form-data" style=" width: 100%;">

                        <input type="hidden" name="id" th:value="${produit.id}" />

                        <div class="form-group" style="text-align: left;">
                            <label for="nom">Nom</label>
                            <input type="text" class="form-control" name="nom" id="nom" th:field="*{nom}" required />
                        </div>

                        <div class="form-group" style="text-align: left;">
                            <label for="description">Description</label>
                            <textarea id="description" class="form-control" name="description" th:field="*{description}" required></textarea>
                        </div>

                        <div class="form-group row" style="text-align: left;">
                            <div style="display:bloc;">
                                <label for="cat" class="col-sm-4 col-form-label">Categorie </label>
                                <div class="col-sm-8">
                                    <select class="form-control selectpicker" id="cat" style="width:auto;"
                                            onchange="var selectElement = document.getElementById('cat'); var selectedOption = selectElement.options[selectElement.selectedIndex]; document.getElementById('catId').value = selectedOption.value;">
                                        <option th:each="cat: ${catList}"  th:value="${cat.id}" th:data-id="${cat.id}" th:text="${cat.nom}"></option>
                                    </select>
                                    <input class="form-group" hidden  name="catId" id="catId"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" style="text-align: left;">
                            <label for="typePrix">Type de Prix</label>
                            <select class="form-control" id="typePrix" name="typePrix">
                                <option value="piece">Prix à la pièce</option>
                                <option value="kilo">Prix au kilo</option>
                                <option value="litre">Prix au litre</option>
                                <option value="promotion">Prix promotionnel</option>
                                <option value="gros">Prix en gros</option>
                            </select>
                        </div>

                        <div class="form-group" style="text-align: left;">
                            <label for="prix">Prix</label>
                            <input type="number" class="form-control" name="prix" min="0.01" id="prix" step="0.01" th:field="*{prix}" required />
                        </div>

                        <div class="form-group" style="text-align: left;">
                            <label for="quantite">Quantité</label>
                            <input type="number" class="form-control" min="1" name="quantite" id="quantite" th:field="*{quantite}" required />
                        </div>

                        <div class="form-group" style="text-align: left;">
                            <label for="image">Image Principale</label>
                            <input type="file" class="form-control" id="image" name="image" accept="image/*" />
                        </div>

                        <div class="form-group" style="text-align: left;">
                            <label for="marque">Marque</label>
                            <input type="text" class="form-control" name="marque" id="marque" th:field="*{marque}" />
                        </div>

                        <div class="form-group row" style="display: flex; justify-content: center; align-items: center;">
                            <div style="display: block; flex: 1;margin:0;padding:0;max-width:100%;max-height:100%;">
                                <label class="col-sm-4 col-form-label">Mots clés</label>
                                <div class="col-sm-8" style="margin-left:auto;margin-right:auto;padding:0;">
                                    <div th:each="motcle: ${motCleList}" style="display: inline-block; margin-right: 10px;">
                                        <input type="checkbox" th:value="${motcle.id}" name="motCleIds" th:id="${'motCle'+motcle.id}" />
                                        <label th:for="${'motCle'+motcle.id}" th:text="${motcle.nom}"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group" style="text-align: left;">
                            <button class="btn btn-outline-success" type="submit">Créer</button>
                            <a class="btn btn-outline-warning" th:href="${back}">Annuler</a>
                        </div>
                    </form>
                </div>
            </div>
            <a th:href="@{/produits/admin}">Retour à Admin produit</a>
        </div>
    </div>
</div>

</body>
</html>